body{

    background: #999999;
}
.vertical-align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#backimage{
    background: #999999;
    backgroundSize: cover;
}
#output {
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 75px;
    padding: 20px 0;
}
#cf{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
